apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: egress-gw-mutating-webhook-configuration
webhooks:
- name: megress.kb.io
  clientConfig:
    caBundle: "%CACERT%"
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: egress-gw-validating-webhook-configuration
webhooks:
- name: vegress.kb.io
  clientConfig:
    caBundle: "%CACERT%"
---
